<app-cabecero></app-cabecero>

<h1 class="center">Gestión de Usuarios</h1>
<br /><br /><br />

<div class="content">
  <div class="alignCharts row">
    <app-grafica-torta
      flex
      class="charts"
      [dataChart]="dataPie"
    ></app-grafica-torta>
  </div>

  <div class="alignCharts row">
    <app-grafica-barras
      flex
      class="charts"
      [dataChart]="dataBar"
    ></app-grafica-barras>
  </div>
</div>

<br /><br /><br />

<div class="alignSearch">
  <div class="">
    <br />
    <mat-grid-list cols="2" rowHeight="2:1">
      <button
        (click)="registrarUsuario()"
        mat-fab
        color="primary"
        aria-label="Registrar Nuevo Usuario"
        title="Registrar Nuevo Usuario"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1" cols="4" class="alignTxtSearch">
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        name="search"
        type="text"
        placeholder="Ingresa usuario a buscar"
        [value]="txtSearch"
        [(ngModel)]="txtSearch"
        minlength="3"
        maxlength="100"
      />
    </mat-form-field>
    <button
      [disabled]="txtSearch.length == 0"
      (click)="buscar()"
      mat-icon-button
      color="accent"
      aria-label="Buscar"
    >
      <mat-icon>search</mat-icon>
    </button>

    <button
      [disabled]="!search"
      (click)="formatearSearch()"
      mat-icon-button
      color="accent"
      aria-label="borrar"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-grid-list>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="datos">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon
          color="primary"
          class="sortFilter"
          (click)="ordenar('id_pers')"
          title="Ordenar"
          >sort</mat-icon
        >
        Id.
      </th>
      <td mat-cell *matCellDef="let element">{{ element.id_pers }}</td>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon
          color="primary"
          class="sortFilter"
          (click)="ordenar('nom_pers')"
          title="Ordenar"
          >sort</mat-icon
        >
        Nombre
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nom_pers }}</td>
    </ng-container>

    <ng-container matColumnDef="Cedula">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon
          color="primary"
          class="sortFilter"
          (click)="ordenar('cedu_pers')"
          title="Ordenar"
          >sort</mat-icon
        >
        Cedula
      </th>
      <td mat-cell *matCellDef="let element">{{ element.cedu_pers }}</td>
    </ng-container>

    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon
          color="primary"
          class="sortFilter"
          (click)="ordenar('ape_pers')"
          title="Ordenar"
          >sort</mat-icon
        >
        Apellido
      </th>
      <td mat-cell *matCellDef="let element">{{ element.ape_pers }}</td>
    </ng-container>

    <ng-container matColumnDef="Profesion">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon
          color="primary"
          class="sortFilter"
          (click)="ordenar('prof_pers')"
          title="Ordenar"
          >sort</mat-icon
        >
        Profesion
      </th>
      <td mat-cell *matCellDef="let element">{{ element.prof_pers }}</td>
    </ng-container>

    <ng-container matColumnDef="Sexo">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon
          color="primary"
          class="sortFilter"
          (click)="ordenar('sexo_pers')"
          title="Ordenar"
          >sort</mat-icon
        >
        Sexo
      </th>
      <td mat-cell *matCellDef="let element">{{ element.sexo_pers }}</td>
    </ng-container>

    <ng-container matColumnDef="Accion">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let element">
        <button
          title="Editar"
          *ngIf="!session"
          (click)="mostrarModal(element)"
          mat-icon-button
          color="warn"
          aria-label="Accion"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          *ngIf="session"
          (click)="alertLogin()"
          mat-icon-button
          color="accent"
          aria-label="Accion"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    class="marginTable"
    [pageSizeOptions]="[5, 10, 20]"
  ></mat-paginator>
</div>

<router-outlet></router-outlet>
